<div class="container">
  <div class="row justify-content-center">
    <div class="col-6" >
      <h2 class="mt-4">Sign up</h2>
      <p>It's free, it's easy! 🤘</p>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :email,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email" }%>
        <%= f.input :password,
        required: true,
        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
        input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
        required: true,
        input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn btn-primary btn-block" %>
      </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
    <div class="col-6" >
      <img class="signup-img" src="https://images.unsplash.com/photo-1534477095562-39016cc4c966?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=904&q=80" alt="adventure signup">
    </div>
  </div>

  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    RentMyOutdoor.com | Code with <i class="fas fa-heart"></i> in Marseille
  </div>
</div>
</div>
