  <div class="form col-sm-4 mt-3 justify-content center">

    <%= form_tag products_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control rounded",
    placeholder: "Search"%>
    <%#= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>



    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1555859044-c72aeb5c17f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
        Adventures
        <p> Explore the different adventures around you </p>
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1497501849790-78f74380d9d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
        Experiences
        <p> Shared experiences by others </p>
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1496428451601-6a656890cca6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
        Places to explore
        <p> Explore the different places around you </p>
      </div>
    </div>


              <% if @products_ski.count > 0 %>
                  <h4> Explore Ski </h4>
                <% end %>
              <div class="cards-cat-1">
              <% @products_ski.each do |product| %>
                <div class="card-category-sking">
                  <%= link_to "Update", edit_product_path(product), class: "btn btn-outline-secondary" %>
                  <%= link_to "Delete", product_path(product), method: :delete, class: "btn btn btn-outline-secondary",
                    data: { confirm: "Are you sure?" } %>

                  <%= cl_image_tag (product.photo), height: 300, width: 400, crop: :fill %>

                    <div class="card-category-infos">
                      <div>
                        <h2><%= product.name %></h2>
                        <p><%= product.description %></p>
                      </div>

                    </div>
                </div>
              <% end %>
          </div>

          <% if @products_trek.count > 0 %>
              <h4> Explore Trekking </h4>
            <% end %>
            <div class="cards-cat-trek-1">

            <% @products_trek.each do |product| %>
                <div class="card-category-treking">
                  <%= link_to "Update", edit_product_path(product), class: "btn btn-outline-secondary" %>

                  <%= link_to "Delete", product_path(product), class: "btn btn-outline-secondary",
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>

                  <%= cl_image_tag (product.photo), height: 300, width: 400, crop: :fill %>

                    <div class="cards-cat-trek-infos">
                      <div>
                        <h2><%= product.name %></h2>
                        <p><%= product.description %></p>
                      </div>
                    </div>
                </div>
            <% end %>
          </div>

          <% if @products_cycle.count > 0 %>
              <h4> Explore cycling </h4>
            <% end %>
            <div class="cards-cat-cycle-1">

            <% @products_cycle.each do |product| %>
                <div class="card-category-cycling">
                  <%= link_to "Update", edit_product_path(product), class: "btn btn-outline-secondary" %>
                  <%= link_to "Delete", product_path(product), class: "btn btn-outline-secondary",
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
                    <%= link_to product_path(product) do %>
                    <%= cl_image_tag (product.photo), height: 300, width: 400, crop: :fill %>
                    <% end %>
                    <div class="cards-cat-cycle-infos">
                      <div>
                        <h2><%= product.name %></h2>
                        <p><%= product.description %></p>
                      </div>


                    </div>
                </div>
            <% end %>
          </div>



<div
  id="map"
  style="width: 600px;
  height: 600px;
  left: 800px;
  top: 0px;
  right: 40px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>











