
  <div class="full-block">
    <div class="full-block-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fproxy.duckduckgo.com%2Fiu%2F%3Fu%3Dhttp%253A%252F%252F4.bp.blogspot.com%252F-PC3_bmR8JwM%252FTqY1nmKdTXI%252FAAAAAAAAJC0%252FvlUY9Gjb2y0%252Fs1600%252F01--BTWIN-ROCKRIDER-5.0-RIGHTSIDE.JPG%26f%3D1)">
    </div>

    <div class="card-small-1">
      <div class="card-category-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.grouponcdn.com/deal/3XnZpckZFQqRMxuQ3uxSGFCTpjL6/3X-2000x1200/v1/c1400x840q75.jpg)">
      </div>

      <div class="card-category-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.grouponcdn.com/deal/2axfo4SNBoHcq462jYdJi6HniLtt/2a-2000x1200/v1/c1400x840q75.jpg)">
      </div>
    </div>

    <div class="full-block-category-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fproxy.duckduckgo.com%2Fiu%2F%3Fu%3Dhttp%253A%252F%252F4.bp.blogspot.com%252F-PC3_bmR8JwM%252FTqY1nmKdTXI%252FAAAAAAAAJC0%252FvlUY9Gjb2y0%252Fs1600%252F01--BTWIN-ROCKRIDER-5.0-RIGHTSIDE.JPG%26f%3D1)">
    </div>
  </div>
      <div class="card">
        <h3><strong><%= @product.name %></strong></h3>
        <h4><%= @product.description %></h4>
        <p><%= @product.address %></p>
        <br>
        <h4><strong><%= @product.price_per_day %> € per day</strong></h4>

        <div class="cardy">
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="btn btn-primary">
        </div>


        <%= simple_form_for([@product, @booking]) do |f| %>
         <%= f.input :start_date, html5: true %>
         <%= f.input :end_date, html5: true %>
         <%= f.submit "Book it", class:"btn btn-primary" %>
        <% end %>

<%= simple_form_for([@product, @booking]) do |f| %>
  <%= f.input :start_date, html5: true %>
  <%= f.input :end_date, html5: true %>
  <%= f.submit "Book it", class:"btn btn-primary" %>
<% end %>

<div class="flex-1">
  <div class="body-1">
    <div class="flex">
      <div class="body-1-a">
        <h4><%= @product.category %></h4>
        <p><%= @product.address %></p>











